@charset "utf-8";

/* BEGIN CSS RESET */

html, body,
a, abbr, acronym, address,
b, big, blockquote,
caption, cite, code,
dd, del, dfn, div, dl, dt,
em,
fieldset, form,
h1, h2, h3, h4, h5, h6,
i, iframe, img, ins,
kbd,
label, legend, li,
object, ol,
p, pre,
q,
samp, small, span, strong, sub, sup,
table, tbody, td, tfoot, th, thead, tr, tt,
ul,
var
{margin:0;
padding:0;
border:0;
outline:0;
font-weight: inherit;
font-style:inherit;
font-size:100%;
font-family:inherit;
vertical-align:baseline;}

body{line-height:1; color:black; background:white;}

:focus{outline:0;}
a{text-decoration:none;}
blockquote:before, blockquote:after, q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
caption, th, td{text-align:left; font-weight:normal;}
del{text-decoration:line-through;}
div{position:relative;}
input, select{vertical-align:middle;}
ins{background-color:#cfcfcf; text-decoration:none;}
ol, ul{list-style:none;}
table{border-collapse:collapse; border-spacing:0;}

/* END CSS RESET */