@charset "utf-8";

/*
 * Title                   : St Barth View
 * File                    : assets/frontend/gui/css/header-style.js
 * File Version            : 1.1
 * Author                  : Marius-Cristian Donea
 * Created / Last Modified : 01 June 2011
 * Last Modified By        : Marius-Cristian Donea
 * Description             : Header Style.
*/

/* BEGIN HEADER */

#header{
    width: 940px;
    height: 155px;
    margin: auto;
}

#logo{
    background: url('../images/sprite.png') 0 -100px repeat-x;
    width: 170px;
    height: 106px;
    margin: 20px 0 0 10px;
    float:left;
}

#logo a{
    width: 170px;
    height: 106px;
    display: block;
}

#header-content{
    float:left;
    width: 760px;
}

#header-content-top{
    
}

#header-navigation{
    float: right;
    margin: 8px 0px 0 0px;
}

#header-navigation li{
    padding: 4px 0 0 0;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #d9d9d9;
}

#header-navigation a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #d9d9d9;
}

#header-navigation a:hover{
    text-decoration: underline;
}

a.fb_button{
    text-decoration: none !important;
}

#header-navigation a.facebook-sign-in:hover{
    text-decoration: none;
}

#header-navigation li.separator{
    background: #737373;
    width: 1px;
    height: 23px;
    display: block;
    float: left;
    margin: 0 10px 0 10px;
}

#header-promo-link{
    float: right;
    font-size:13px;
    font-weight: bold;
    margin: 0 0 0 10px;
}

#header-promo-link a{
    color: #ffffff;
    display:block;
    vertical-align: middle;
    line-height: 30px;
}

#header-promo-link a .text{
    background: url("../images/sprite.png") -360px -337px;
    float:left;
    padding:0 0 0 13px;
    cursor: pointer;
}

#header-promo-link a .end{
    background: url("../images/sprite.png") -790px -337px;
    display: block;
    width: 13px;
    height: 30px;
    float:left;
}

#header-content-bottom{
    margin-top:9px;
    width: 760px;
    z-index: 999;
}
#header-search{
    margin-top: 30px;
    margin-left: 65px;
    float: left;
}

#header-search label{
    font-size: 20px;
    color: #000000;
}

#header-search-input{
    margin-top: 7px;
    border:1px solid #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 5px;
    font-size:14px;
    color: #939393;
    width: 390px;
    background: #ffffff;
}

#header-search-submit{
    width: 31px;
    height: 27px;
    font-weight: bold;
    border: 0;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    color: #ffffff;
    margin-top: 6px;
    background: url('../images/sprite.png') 0 -400px;
    padding-bottom: 3px;
}

#header-weather{
    width: 224px;
/*    height: 60px;*/
    float:right;
    margin: 20px 0 0 0px;
}
.header-weather-title{
    font-size:14px;
    font-weight: bold;
    text-align: center;
}

.header-weather-day{
    font-size:14px;
    text-align: center;
}

.header-weather-day .sup{
    font-size: 10px;
    vertical-align: super;
}

.header-weather-icon{
    padding: 5px 0 0 55px;
}

.header-weather-icon img{
    float:left;
    padding-right: 10px;
}
.header-weather-temp{
    font-size: 17px;
    font-weight: bold;
}
.header-weather-temp-alt{
    font-size: 12px;
}

.header-weather-left-nav1,.header-weather-left-nav2{
    background: url("../images/sprite.png") repeat scroll -400px -100px transparent;
    display: block;
    height: 15px;
    left: 0px;
    position: absolute;
    top: 2px;
    width: 7px;
    cursor: pointer;
}

.header-weather-left-nav2{
    top: 23px;
}

.header-weather-right-nav1,.header-weather-right-nav2{
    background: url("../images/sprite.png") repeat scroll -410px -100px transparent;
    display: block;
    height: 15px;
    position: absolute;
    right: 0px;
    top: 2px;
    width: 7px;
    cursor: pointer;
}

.header-weather-right-nav2{
    top:23px;
}

/* FLAGS */

.language_menu{
    
}

.language_currency {
    height: 26px;
    width: 70px;
}

.sprite-en {
    background-position: 0 -1701px;
    height: 16px;
    width: 16px;
}

.sprite-fr {
    background-position: 0 -1749px;
    height: 16px;
    width: 16px;
}

.reward_points {
    background-position: -906px -853px;
    height: 16px;
    width: 16px;
}

.reward_points_option{
    margin-bottom: 5px;
}

.language_currency_display {
    background: transparent;
    border: 1px solid transparent;
    color: #FC4C98;
/*    cursor: default;*/
    height: 20px;
    margin-left: -4px;
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
    width: 68px;
    z-index: 9999;
    cursor: pointer;
}

.language_currency_display_language {
    display: inline;
    margin-left: 4px;
    margin-top: -1px;
    position: absolute;
    width: 16px;
}

.language_currency .flag {
    background-image:  url("../images/sprite.png");
    background-repeat: no-repeat;
    height: 16px;
    position: absolute;
    width: 16px;
}

.currency span{
    padding: 0 11px 0 5px;
}

.language_currency_display_currency {
    display: inline;
    margin-left: 28px;
    position: absolute;
    width: 40px;
}

.rounded {
    border-radius: 5px 5px 5px 5px;
}

.language_currency_selector_container {
    background-color: #333333;
    border: 1px solid #737373;
    border-top-right-radius: 0;
    cursor: default;
    list-style: none outside none;
    margin-left: -61px;
    margin-top: 20px;
    padding: 0px;
    position: absolute;
/*    width: 120px;*/
    width: auto;
    z-index: 999800;
    display: none;
}

.language_menu:hover .language_currency_display{
    background-color: #333333;
    border: 1px solid #737373;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 0px solid #fff;
}

#language_menu .language_currency_selector .instruction,#profile_menu .language_currency_selector .instruction{
    padding: 5px;
}

#language_menu .language_currency_selector li,#profile_menu .language_currency_selector li{
    float: none;
}

#language_menu .language_currency_selector li.option, #profile_menu .language_currency_selector li.option {
    width: 115px;
    padding:0 5px 0 5px;
    white-space: nowrap;
}

#profile_menu .language_currency_selector li.option {
    width: auto;
}

.language_currency_selector li.option:hover{
    background: #737373;
}

#language_menu .language_currency_selector li.dash, #profile_menu .language_currency_selector li.dash {
    border-bottom: 1px dotted #CCCCCC;
    height: 4px;
    float: none;
    padding-bottom: 2px;
}

.language_currency_selector .language, .language_currency_selector .currency{
    cursor: pointer;
}

#profile_menu .language_currency {
    width: auto;
}

#profile_menu .language_currency_display {
    color: #d9d9d9;
    width:auto;
    position: relative;
    padding: 0 4px;
}

#profile_menu .language_currency_display_currency {
    display: inline;
    margin-left: 0px;
    position: relative;
    width: auto;
}

#profile_menu .language_currency_selector_container {
    background-color: #333333;
    border: 1px solid #737373;
    border-top-right-radius: 0;
    cursor: default;
    list-style: none outside none;
/*    margin-left: -54px;*/
    margin-left: 0px;
    right: 0;
    margin-top: -1px;
    padding: 0px;
    position: absolute;
    width: auto;
    z-index: 9998;
    display: none;
}

.language_menu:hover .language_currency_selector_container{
    display: block!important;
}

/* END HEADER */