@charset "utf-8";

/*
 * Title                   : St Barth View
 * File                    : assets/frontend/gui/css/offer-style.js
 * File Version            : 1.5
 * Author                  : Marius-Cristian Donea
 * Created / Last Modified : 28 June 2011
 * Last Modified By        : Marius-Cristian Donea
 * Description             : Offer Style.
*/

.offer-section{
    border: 1px solid #DADADB;
    background: #ffffff;
}

/* #offer-top */

#offer-top{
    height: 48px;
    color: #333333;
    border-bottom:1px solid #DADADB;
}

#offer-top .title{
    line-height: 44px;
    font-size: 26px;
    font-weight: bold;
    color: #333333;
    float: left;
    margin-left: 20px;
}

#offer-top .location{
    font-size: 15px;
    font-weight: normal;
    padding: 0 0 0 10px;
}

#offer-top .new{
    width: 31px;
    height: 18px;
    margin: 17px 0 2px 7px;
    background: url('../images/sprite.png') 0px -455px;
    float:left;
    display: block;
}

#offer-top .comments{
    float:right;
    margin: 10px 0 0 0;
    display: block;
}

#offer-top .comments .icon{
    background: url('../images/sprite.png') -870px -180px;
    width: 25px;
    height: 21px;
    position: absolute;
    margin: 2px 0 0 0;
}

#offer-top .comments .icon.no-comments{
    background: url('../images/sprite.png') -900px -180px;
}

#offer-top .friends{
    float: right;
    margin: 10px 0 0 10px;
    display: block;
}

#offer-top .friends .icon{
    background: url('../images/sprite.png') -870px -210px;
    width: 25px;
    height: 21px;
    position: absolute;
    margin: 2px 0 0 0;
}

#offer-top .friends .icon.no-friends{
    background: url('../images/sprite.png') -900px -210px;
}

#offer-top .deals{
    float:right;
    margin: 10px 0 0 10px;
    display: block;
}

#offer-top .deals .icon{
    background: url('../images/sprite.png') -870px -240px;
    width: 25px;
    height: 21px;
    position: absolute;
    margin: 7px 0 0 0;
}

#offer-top .deals .icon.no-deals{
    background: url('../images/sprite.png') -900px -240px;
}

#offer-top .comments .no, #offer-top .friends .no, #offer-top .deals .no{
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 0 30px;
}

#offer-top .comments .text, #offer-top .friends .text, #offer-top .deals .text{
    color: #333333;
    font-size: 10px;
    line-height: 1em;
    margin: 0 0 0 30px;
}

#offer-top .rating-value-stars{
    float:right;
    margin: 0 15px 0 15px;
    text-align: right;
    padding-top: 7px;
}

#offer-top .rating-value{
    font-size: 16px;
    font-weight: bold;
    color: #6d8fbc;
    margin: 4px 0 0px 10px;
}

#offer-top .rating-stars{
    background: url('../images/sprite.png') -60px -270px;
    width: 60px;
    height: 12px;
    margin: 0px 0 0px 0;
    display: block;
    text-align: left;
}

#offer-top .rating-stars-value{
    background: url('../images/sprite.png') 0 -270px;
    width: 48px;
    height: 12px;
    position: absolute;
}

#offer-top .owner-icon{
    background: url('../images/sprite.png') -130px -300px;
    width: 25px;
    height: 25px;
    float: right;
    margin: 12px 0 0 5px;
}

#offer-top .owner-icon img{
    width: 25px;
    height: 25px;
}

#offer-top .owner{
    float: right;
    margin: 10px 0 0 20px;
    text-align: right;
    font-size: 11px;
    color:#737373;
    line-height: 14px;
    display: block;
    white-space: nowrap;
}

#offer-top .owner a{
    font-size:14px;
    font-weight: bold;
    color: #6d8fbc;
}

#offer-top .owner .icon{
    background: url('../images/sprite.png') -130px -300px;
    width: 25px;
    height: 25px;
    float: right;
    margin: 2px 0 0 5px;
}

#offer-top .owner img{
    width: 25px;
    height: 25px;
}

#offer-top .owner .last-comment{
}

#offer-top .owner .first-name{
    font-weight: bold;
    margin: 0 0px 0 5px;
}

#offer-top .owner .last-name{
    color: #3c3d3d;
    font-size: 10px;
    font-weight: bold;
    line-height: 1em;
    margin: 0 5px 0 0;
}

#offer-top .owner .no-comment{
    display:block;
    width: 100px;
    height: 25px;
}

/* end #offer-top */

/* #offer-content */

#offer-content{
    width: 940px;
}

/* #offer-main */

    #offer-main{
        width: 660px;
        float: left;
        height: 450px;
        overflow: hidden;
    }

    #rates-slider, #deals-slider{
        z-index:1100;
        margin-left: 660px;
    }

    .hidden-slider{
        display: block;
        width: 660px;
        height: 450px;
        top: 0px;
        left: 0px;
        z-index: 1;
        position: absolute;
    }

    .slider-left{
        height: 450px;
        line-height: 450px;
        color: #ffffff;
        font-size: 23px;
        font-weight: bold;
        text-align: center;
        background: #ff4291;
        float: left;
        width: 30px;
    }

    .slider-left a{
        display: block;
        color: #ffffff;
    }
    
    .slider-right{
        float: left;
        width: 630px;
        background: #ffffff;
        height: 450px;
    }

    .rates-calendar{
        width: 570px;
        height: 370px;
        margin: 30px 0 0 30px;
    }
    
    .rates-calendar-actions{
        margin:20px 0 0 115px;
    }

    .rates-calendar-actions a{
        color: #ff4291;
        font-size: 14px;
        font-weight: bold;
    }

    #deals-slider .slider-right{
        background: #ffffff;
        z-index: 1000;
    }

    #deals-slider .title{
        font-size: 24px;
        font-weight: bold;
        color:#333333;
        margin: 25px 35px 0;
    }

    #deals-slider .location{
        font-size: 14px;
        color: #737373;
        margin: 5px 35px 0;
    }

    .deal-details{
        margin: 10px 35px 0;
    }

    .deal-image{
        float:left;
        margin-right: 10px;
    }

    .deal-details-content{
        float: left;
        width: 286px;
    }

    .deal-info-price{
        width: 286px;
        background: url("../images/sprite.png") -530px -635px transparent;
        height: 44px;
        color: #ffffff;
    }

    .deal-info-price a{
        color: #ffffff;
        cursor: pointer;
    }

    .deal-info-price .box{
        width: 95px;
        text-align: center;
        float:left;
        display: block;
        font-size: 11px;
        font-weight: bold;
        line-height: 21px;
    }

    .deal-info-price .box span{
        font-size:20px;
    }

    .deal-info-details{
        background: url("../images/sprite.png") -285px -995px transparent;
        width: 286px;
        height: 118px;
    }

    .deal-info-timer{
        height: 40px;
        width: 249px;
        background: url("../images/sprite.png") -530px -685px transparent;
        height: 40px;
        color: #ffffff;
        margin-top: 7px;
        padding-left: 37px;
        line-height: 40px;
        font-weight: bold;
        display: block;
        font-size: 11px;
    }

    .deal-info-timer .text{
        float: left;
        margin-right: 5px;
        cursor: pointer;
    }

    .deal-info-timer .clock{
        font-size: 20px;
        display: block;
        float: left;
        width: 160px;
        cursor: pointer;
    }
    
    .deal-info-bought{
        padding: 10px 10px 0;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
    }

    .deal-info-bought .bought{
        font-size: 20px;
    }

    .deal-info-bought .left-bought{
        font-size: 11px;
    }

    .deal-info-bought .metter{
        width: 266px;
        height: 25px;
    }

    .metter .min{
        float: left;
        display: block;
        width: 20px;
        margin-right: 3px;
        line-height: 13px;
        margin-top: 12px;
        font-size: 16px;
        font-weight: bold;
    }

    .metter .max{
        float: left;
        display: block;
        width: 20px;
        line-height: 13px;
        margin-top: 12px;
        font-size: 16px;
        font-weight: bold;
    }

    .deal-info-bought .graphic{
        width: 220px;
        height: 10px;
        display: block;
        float: left;
        background: url("../images/sprite.png") -360px -415px transparent;
        margin-top: 13px;
    }

    .deal-info-bought .graphic .marker{
        background:  url("../images/sprite.png") -585px -415px transparent;
        width: 15px;
        height: 7px;
        position: absolute;
        top: -9px;
        left: 0px;
    }

    .deal-info-bought .graphic .graphic-metter{
        width: 218px;
        height: 8px;
        margin: 1px;
        display: block;
        background: url("../images/sprite.png") -360px -430px transparent;
    }

    .extra-info{
        margin: 20px 0 0;
        color: #333333;
        font-size: 12px;
        line-height: 16px;
    }

    #deals-slider .extra-info .title{
        font-size: 16px;
        font-weight: bold;
        color: #737373;
        margin: 0;
    }

    .extra-info .fine-print, .extra-info .highlights{
        width: 272px;
        float: left;
    }
    .extra-info .description, .extra-info .features{
    }

    .extra-info a{
        color: #ff4291;
        font-weight: bold;
    }

    .extra-content{
        padding-top: 15px;
    }

    /* end #offer-main */

    /* #offer-sidebar */

    #offer-sidebar{
        width: 280px;
        float: left;
        z-index: 2000;
    }

        /* #offer-booking */

        #offer-booking{
            width: 280px;
            height: 213px;
            background: url('../images/sprite.png') 0px -995px;
            color: #ffffff;
        }

        .offer-booking-price{
            font-size: 30px;
            font-weight: bold;
            text-align: right;
            padding: 15px 15px 0 0;
        }

        .offer-booking-form{
            margin: 0 15px;
        }

        .offer-booking-form-row{
        }

        .booking-form-field{
        }

        .booking-form-field label,.booking-form-field-select label{
            font-size: 11px;
            font-weight: bold;
            display: block;
        }

        .booking-form-field .booking-input{
            color:#737373;
            width: 90px;
            border: 1px #d8d8d8 solid;
            font-size: 14px;
            padding: 3px 25px 3px 5px;
            font-weight: bold;
            float: left;
            background: #fff url('../images/sprite.png') 0px -510px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .offer-booking-form-row-multiple{
            margin-top: 10px;
            width: 250px;
            display: block;
        }

        .booking-form-field-select{
            float: left;
            margin-right: 10px;
        }

        .booking-form-select-small{
            border: 1px solid #D8D8D8;
            border-radius: 5px 5px 5px 5px;
            color: #737373;
            font-size: 14px;
            font-weight: bold;
            padding: 3px 5px;
            width: 55px;
        }

        .booking_read_more{
            color: #ffffff;
            font-size: 12px;
            font-weight: bold;
            line-height: 12px;
            display: block;
            margin-top: 33px;
            float: left;
        }

        .offer-booking-btn-rates{
            float: left;
            margin-top: 25px;
            position: relative;
        }

        .offer-booking-btn-instant-book{
            float: right;
            margin-top: 25px;
        }

        .booking-rates{
            width: 100px;
            height: 38px;
            text-align: right;
            line-height: 35px;
            background: url('../images/sprite.png') 0px -905px;
            display: block;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            padding-right: 20px;
            margin-left: -30px;
            z-index: 100;
        }

        .booking-rates a{
            width: 100px;
            height: 38px;
            text-align: right;
            line-height: 35px;
            display: block;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            padding-right: 20px;
        }

        .booking-rates:hover{
            background: url('../images/sprite.png') 0px -814px;
        }

        .booking-rates-hover{
            background: url('../images/sprite.png') 0px -814px;
            width: 100px;
            height: 38px;
            text-align: right;
            line-height: 35px;
            display: block;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            padding-right: 20px;
            margin-left: -30px;
            z-index: 100;
            display: none;
        }

        .booking-rates-hover a{
            width: 100px;
            height: 38px;
            text-align: right;
            line-height: 35px;
            display: block;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            padding-right: 20px;
        }

        .booking-instant-book{
            width: 153px;
            height: 38px;
            text-align: center;
            line-height: 35px;
            background: url('../images/sprite.png') 0px -952px;
            display: block;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
        }

        /* end #offer-booking */

        /* #offer-deal */
        
        #offer-deal{
            width: 280px;
            height: 222px;
            margin-top: 15px;
        }
        
        .offer-owner-info{
            margin: 0 15px;
            height: 104px;
        }

        .owner-image{
            border: 1px solid #DADADB;
            float: left;
            margin-right: 10px;
        }

        .owner-info{
            float: left;
            width: 135px;
        }
        
        .owner-info .tag{
            font-size: 11px;
            font-weight: bold;
            color: #a0a0a0;
            line-height: 11px;
        }

        .owner-info .name{
            color: #6d8fbc;
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
        }

        .owner-info .description{
            color: #333333;
            font-size: 12px;
            line-height: 15px;
            margin-top: 5px;
        }

        .owner-socials {
            margin: 10px 15px 0;
        }

        .owner-socials .deals,.owner-socials .friends{
            float: left;
            margin-right: 7px;
        }

        .owner-socials .deals a,.owner-socials .friends a{
            cursor: default;
        }

        .owner-socials .deals .icon{
            background: url('../images/sprite.png') -870px -850px;
            width: 25px;
            height: 23px;
            position: absolute;
        }

        .owner-socials .deals .icon.no-deals{
            background: url('../images/sprite.png') -870px -850px;
        }

        .owner-socials .deals .no,.owner-socials .friends .no{
            color: #333333;
            font-size: 15px;
            font-weight: bold;
            line-height: 1em;
            margin: 0 0 0 30px;
        }

        .owner-socials .deals .text,.owner-socials .friends .text{
            color: #333333;
            font-size: 10px;
            font-weight: bold;
            line-height: 1em;
            margin: 0 0 0 30px;
        }

        .owner-socials .friends .icon{
            background: url('../images/sprite.png') -870px -820px;
            width: 27px;
            height: 23px;
            position: absolute;
            margin-top: 3px;
        }

        .owner-socials .friends .icon.no-friends{
            background: url('../images/sprite.png') -900px -820px;
        }

        .owner-socials .help-friend{
            display: block;
            float: left;
            background: url('../images/sprite.png') 0px -880px;
            width: 115px;
            height: 20px;
            line-height: 20px;
            font-size: 11px;
            font-weight: bold;
            text-align: center;
            color: #737373;
            margin-top: 4px;
        }
        
        .owner-socials .help-friend a{
            color: #737373;
            display: block;
        }

        .owner-actions{
            margin: 0px 15px 0;
            padding: 30px 0 0 0;
        }

        .owner-action-normal, .owner-action-active{
            display: block;
            width: 258px;
            height: 41px;
        }
        
        .owner-action-normal a{
            display: block;
            cursor: pointer;
            color: #ffffff;
            background: url('../images/sprite.png') -530px -735px;
            height: 41px;
        }

        .owner-action-normal .nr-deals{
            font-size: 18px;
            font-weight: bold;
            line-height: 40px;
            float: left;
            margin-left: 15px;
        }

        .owner-action-normal .time-deal{
            font-size: 11px;
            font-weight: bold;
            float: left;
            display: block;
            margin-left: 45px;
            text-align: center;
        }

        .owner-action-normal .timer{
            font-size: 17px;
            font-weight: bold;
        }

        .owner-action-active{
        }

        .owner-action-active a{
            color: #ffffff;
        }

        .owner-action-active .multiple-deals,.owner-action-active .single-deal-option,.owner-action-active .single-deal-options{
            display: block;
            width: 287px;
            height: 41px;
            margin-left: -30px;
            background: url('../images/sprite.png') -530px -781px;
            z-index: 100;
        }

        .owner-action-active .multiple-deals .buy-deal{
            float: left;
        }

        .owner-action-active .buy-deal a{
            text-align: center;
            display: block;
            cursor: pointer;
            height: 41px;
            font-size: 18px;
            font-weight: bold;
            line-height: 41px;
            width: 282px;
        }

        .owner-action-active .multiple-deals .buy-deal a{
            width: 167px;
            padding-right: 10px;
            text-align: right;
        }

        .owner-action-active .next-deal a{
            text-align: center;
            line-height: 41px;
            font-size: 18px;
            font-weight: bold;
            float: left;
            display: block;
            width: 101px;
            margin-left: 4px;
        }

        .owner-action-active .single-deal-option{
            background: url('../images/sprite.png') -530px -830px;
            display: none;
        }

        .owner-action-active .multiple-deals{
            display: none;
        }

        .owner-action-active .single-deal-options{
            background: url('../images/sprite.png') -530px -880px;
            display: none;
        }

        /* end #offer-deal */

    /* end #offer-sidebar */

/* end #offer-content */

/* #offer-bottom */

#offer-bottom{
    border-top: 1px solid #DADADB;
    padding: 20px;
}

.offer-bottom-actions{
}

.offer-bottom-actions .sorting-menu{
    float: left;
}

.sorting-menu{
    font-size: 13px;
    height: 18px;
    display: block;
}

.sorting-menu li{
    display: block;
    float: left;
    color: #333333;
    font-weight: bold;
    margin: 0 8px 0 0;
    font-size: 14px;
}

.sorting-menu li.separator{
    background-color: #949494;
    height: 10px;
    margin: 5px 8px 0 0;
    vertical-align: middle;
    width: 1px;
}

.sorting-menu li a{
    font-weight: normal;
    color: #737373;
    display: block;
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
}
.sorting-menu li a .text{
    padding: 0px 0 0px 3px;
    float: left;
    cursor: pointer;
    height: 17px;
}

.sorting-menu li a .end{
    width: 3px;
    display: block;
    float: left;
    padding: 0px 0 2px 1px;
    height: 15px;
}

.sorting-menu li a:hover .text{
    background: url('../images/sprite.png') -250px -100px;
    color: #ffffff;
}

.sorting-menu li a:hover .end{
    background: url('../images/sprite.png') -357px -100px;
    color: #ffffff;
}

.sorting-menu li a.selected .text{
    background: url('../images/sprite.png') -250px -100px;
    color: #ffffff;
}

.sorting-menu li a.selected .end{
    background: url('../images/sprite.png') -357px -100px;
    color: #ffffff;
    width: 3px;
}

.add-this-widget{
    float: right;
    width: 140px;
}

.offer-bottom-content{
    margin: 15px 10px 0 10px;
    font-size: 12px;
    color: #333333;
    overflow: hidden;
}

.offer-bottom-content.loader{
    background: url(../images/loaders/big-loader1.gif) no-repeat center center !important;
}

.offer-bottom-content p{
    text-indent: 40px;
}

.offer-bottom-content .amenities li{
    width: 25%;
    float: left;
    text-align: center;
    color: #333333;
    font-weight: bold;
}

.offer-bottom-content .amenities li.no{
    color: #a0a0a0;
    font-weight: normal;
}

.offer-bottom-content .map{
    margin: auto;
    width: 685px;
    height: 400px;
}

.offer-bottom-reviews{
/*    margin-top: 5px;*/
}

.offer-bottom-reviews-add div{
    float: right;
}

.offer-bottom-reviews-add div span{
    background: url("../images/sprite.png") repeat scroll -870px -180px #fff;
    width: 25px;
    height: 21px;
    margin: 0 5px 0 0;
    float: left;
}

.offer-bottom-reviews-add-btn{
/*    padding-left: 30px;*/
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    color: #6980b1;
}

.offer-bottom-reviews-add-btn span{

}

.offer-bottom-reviews-comments{
    clear:both;
/*    margin-top: 10px;*/
}

.offer-bottom-review{
    margin: 15px 0 0 0;
}

.offer-bottom-review-add{
}

.review-left{
    float: left;
    width: 200px;
}

.review-left-image{
    border: 1px solid #d6d6d6;
    width: 60px;
    height: 60px;
    float: left;
}

.review-left-image a{
    display: block;
}

.review-left-user{
    float:left;
    margin-left: 10px;
}

.review-left-user-name{
    color: #6980b1;
    font-size: 14px;
    font-weight: bold;
    height: 42px;
    display: block;
}

.review-left-user-name a{
    color: #6980b1;
    font-size: 14px;
    font-weight: bold;
    line-height: 1em;
}

.review-left-user .verified-buyer{
    background: url("../images/sprite.png") no-repeat -285px -1120px transparent;
    color: #ff4291;
}

.review-left-user .verified-review{
    background: url("../images/sprite.png") no-repeat -285px -1145px transparent;
    color: #737373;
}

.review-left-user-status{
    width: 98px;
    height: 20px;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.review-left-bottom{
    clear: both;
    font-size: 11px;
    color: #737373;
    margin-top:10px;
}

.review-right{
    float: right;
    width: 660px;
    position: relative;
}

.review-right-buble-corner{
    background: url("../images/sprite.png") no-repeat -285px -1170px transparent;
    width: 21px;
    height: 20px;
    position: absolute;
    top:15px;
    left:-20px;
    z-index: 99;
}

.review-right-buble{
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #f2f2f2;
    min-height: 100px;
    padding: 15px 20px;
}

.review-right-buble .review-title{
    font-size: 15px;
    font-weight: bold;
    color: #333333;
}

.review-rate-date{
    margin-top: 10px;
}

.review-rate-date .review-date{
    font-size:11px;
    color: #737373;
    margin-left: 5px;
}

.review-rate-date .rating-value{
    font-size: 15px;
    color: #6980b1;
    font-weight: bold;
    margin-left: 5px;
}

.review-rate-date .rating-stars {
    background: url("../images/sprite.png") repeat scroll -60px -270px transparent;
    float: left;
    height: 12px;
    margin: 3px 0 0;
    width: 60px;
}

.review-rate-date .rating-stars-value {
    background: url("../images/sprite.png") repeat scroll 0 -270px transparent;
    height: 12px;
    position: absolute;
    width: 48px;
}

.review-content{
    margin-top: 10px;
    font-size: 13px;
    color: #333333;
/*    line-height: 1em;*/
}

.review-report-problem, .review-report-problem a{
    font-size: 11px;
    color: #737373;
    margin-top: 10px;
}

.review-write-note-title{
    font-size: 18px;
    font-weight: bold;
    color: #737373;
    display: block;
}

.review-write-note-description{
    font-size: 14px;
    font-style: italic;
    color: #737373;
    margin-top: 10px;
    display: block;
}

.review-form-top-left{
    width: 300px;
    float: left;
}

.review-form-top-left-title{
    font-size: 18px;
    font-weight: bold;
    color: #737373;
}

.review-form-top-left-title span.small{
    font-size:12px;
    font-style: italic;
    padding-top:5px;
    font-weight: normal;
}

.review-form-top-left .review-form-top-left-title{
    float: left;
}

.big-stars{
    width: 250px;
}

#add-review-rating-stars{
    float: left;
    margin: 0 0 0 10px;
}

.big-stars .rating-value{
    float: right;
    font-size: 20px;
    color: #6980b1;
    font-weight: bold;
    padding: 2px 0 0 10px;
}

.big-stars .rating-stars {
    background: url("../images/sprite.png") repeat scroll -60px -270px transparent;
    float: left;
    height: 12px;
    margin: 3px 0 0;
    width: 60px;
}

.big-stars .rating-stars-value {
    background: url("../images/sprite.png") repeat scroll 0 -270px transparent;
    height: 12px;
    position: absolute;
    width: 48px;
}

.review-form-top-right{
    width: 160px;
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: #737373;
    line-height: 1em;
}

.review-form-top-right .right{
     background: url("../images/sprite.png") no-repeat -335px -1170px transparent;
     height:14px;
     width: 14px;
     display: block;
     float: right;
}

.review-form-row{
    margin-top: 30px;
}

.review-form-row .title-left{
    float: left;
    margin: 4px 10px 0 0;
    
}

.review-form-row-title{
    font-size: 18px;
    font-weight: bold;
    color: #737373;
    display: block;
}

.review-form-select{
    border: 1px solid #D8D8D8;
    border-radius: 5px 5px 5px 5px;
    color: #737373;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 5px;
    width: 100px;
}

#review_form_title{
    border: 1px solid #D8D8D8;
    border-radius: 5px 5px 5px 5px;
    color: #737373;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 12px;
    width: 596px;
    margin-top: 10px;
}

#review_form_content{
    border: 1px solid #D8D8D8;
    border-radius: 5px 5px 5px 5px;
    color: #737373;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 10px;
    width: 596px;
    height: 120px;
    margin-top: 10px;
}

.review-form-certify{
    margin-top: 10px;
}

.review-form-certify .left{
    float: left;
    display: block;
}

.review-form-certify input{
    float: left;
    display: block;
}

.review-form-certify label{
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #737373;
    width: 560px;
    margin-left: 10px;
}

.review-form-certify .right{
     background: url("../images/sprite.png") no-repeat -335px -1170px transparent;
     height:14px;
     width: 14px;
     display: block;
     float: right;
}

.review-form-row-last{
    margin-top: 10px;
}

#review-form-submit{
    background: url("../images/sprite.png") repeat scroll 0 -750px transparent;
    border: none;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 22px;
    margin-left: 30px;
    margin-top: 5px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 142px;
    cursor: pointer;
}

#review-form-preview{
    color: #333333;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 22px;
    margin-top: 5px;
    padding-left: 15px;
}

.review-form-required{
    color:#ff0000 !important;
}

/* end #offer-bottom */