@charset "utf-8";

.offer-section{
    border:1px solid #DADADB;
/*    width: 938px;*/
    background: #ffffff;
}
/* #offer-top*/
#offer-top{
    height: 48px;
    color: #4c4c4c;
}


#offer-top .title{
    line-height: 44px;
    font-size: 26px;
    font-weight: bold;
    color: #4c4c4c;
    float: left;
    margin-left: 20px;
}
#offer-top .location{
    font-size: 15px;
    font-weight: normal;
}
#offer-top .new{
    width: 31px;
    height: 18px;
    margin: 17px 0 2px 7px;
    background: url('../images/sprite.png') 0px -455px;
    float:left;
    display: block;
}
#offer-top .comments{
    float:right;
    margin: 10px 0 0 0;
    display: block;
}

#offer-top .comments .icon{
    background: url('../images/sprite.png') -870px -180px;
    width: 25px;
    height: 21px;
    position: absolute;
    margin: 2px 0 0 0;
}
#offer-top .comments .icon.no-comments{
    background: url('../images/sprite.png') -900px -180px;
}


#offer-top .friends{
    float:right;
    margin: 10px 0 0 10px;
    display: block;
}

#offer-top .friends .icon{
    background: url('../images/sprite.png') -870px -210px;
    width: 25px;
    height: 21px;
    position: absolute;
    margin: 2px 0 0 0;
}
#offer-top .friends .icon.no-friends{
    background: url('../images/sprite.png') -900px -210px;
}


#offer-top .deals{
    float:right;
    margin: 10px 0 0 10px;
    display: block;
}

#offer-top .deals .icon{
    background: url('../images/sprite.png') -870px -240px;
    width: 25px;
    height: 21px;
    position: absolute;
    margin: 7px 0 0 0;
}
#offer-top .deals .icon.no-deals{
    background: url('../images/sprite.png') -900px -240px;
}

#offer-top .comments .no, #offer-top .friends .no, #offer-top .deals .no{
    color: #4c4c4c;
    font-size: 16px;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 0 30px;
}

#offer-top .comments .text, #offer-top .friends .text, #offer-top .deals .text{
    color: #3c3d3d;
    font-size: 10px;
    line-height: 1em;
    margin: 0 0 0 30px;
}


#offer-top .rating-value-stars{
    float:right;
    margin: 0 20px 0 10px;
    text-align: right;
    padding-top: 7px;
}

#offer-top .rating-value{
    font-size: 16px;
    font-weight: bold;
    color: #7288b5;
    margin: 4px 0 0px 10px;
}
#offer-top .rating-stars{
    background: url('../images/sprite.png') -60px -270px;
    width: 60px;
    height: 12px;
    margin: 0px 0 0px 0;
    display: block;
    text-align: left;
}

#offer-top .rating-stars-value{
    background: url('../images/sprite.png') 0 -270px;
    width: 48px;
    height: 12px;
    position: absolute;
}

#offer-top .owner-icon{
    background: url('../images/sprite.png') -130px -300px;
    width: 25px;
    height: 25px;
    float: right;
    margin: 12px 0 0 5px;
}

#offer-top .owner-icon img{
    width: 25px;
    height: 25px;
}

#offer-top .owner{
    float: right;
    margin: 10px 0 0 20px;
    text-align: right;
    font-size: 11px;
    color:#737373;
    line-height: 14px;
    display: block;
    white-space: nowrap;
}

#offer-top .owner a{
    font-size:14px;
    font-weight: bold;
    color: #627aad;
}

#offer-top .owner .icon{
    background: url('../images/sprite.png') -130px -300px;
    width: 25px;
    height: 25px;
    float: right;
    margin: 2px 0 0 5px;
}

#offer-top .owner img{
    width: 25px;
    height: 25px;
}

#offer-top .owner .last-comment{
/*    float:left;*/
}

#offer-top .owner .first-name{
    font-weight: bold;
/*    line-height: 1em;*/
    margin: 0 0px 0 5px;
/*    float:right;*/
}

#offer-top .owner .last-name{
    color: #3c3d3d;
    font-size: 10px;
    font-weight: bold;
    line-height: 1em;
    margin: 0 5px 0 0;
}

#offer-top .owner .no-comment{
    display:block;
    width: 100px;
    height: 25px;
}

/* end #offer-top*/

/* #offer-content*/
#offer-content{
    width: 940px;
}

/* #offer-main*/
    #offer-main{
        width: 660px;
        float:left;
        height: 450px;
    }

    /* end #offer-main*/

    /* #offer-sidebar*/
    #offer-sidebar{
        width: 280px;
        float: left;
    }
        /* #offer-booking*/
        #offer-booking{
            width: 280px;
            height: 213px;
            background: url('../images/sprite.png') 0px -995px;
            color: #ffffff;
        }

        .offer-booking-price{
            font-size:30px;
            font-weight: bold;
            text-align: right;
            padding:15px 15px 0 0;
        }

        .offer-booking-form{
            margin: 0 15px;
        }

        .offer-booking-form-row{

        }

        .booking-form-field{}

        .booking-form-field label,.booking-form-field-select label{
            font-size:11px;
            font-weight: bold;
            display: block;
        }
        .booking-form-field .booking-input{
            color:#535353;
            width: 90px;
            border: 1px #d8d8d8 solid;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            font-size: 14px;
            padding: 3px 25px 3px 5px;
            font-weight: bold;
            float:left;
            background: #fff url('../images/sprite.png') 0px -510px;
        }

        .offer-booking-form-row-multiple{
            margin-top: 10px;
            width: 250px;
            display: block;
        }

        .booking-form-field-select{
            float: left;
            margin-right: 10px;
        }

        .booking-form-select-small{
            border: 1px solid #D8D8D8;
            border-radius: 5px 5px 5px 5px;
            color: #535353;
            font-size: 14px;
            font-weight: bold;
            padding: 3px 5px;
            width: 55px;
        }

        .booking_read_more{
            color: #ffffff;
            font-size: 12px;
            font-weight: bold;
            line-height: 12px;
            display: block;
            margin-top: 33px;
            float:left;
        }
        .offer-booking-btn-rates{
            float:left;
            margin-top: 25px;
            position: relative;
        }

        .offer-booking-btn-instant-book{
            float: right;
            margin-top: 25px;
        }

        .booking-rates{
            width: 100px;
            height: 38px;
            text-align: right;
            line-height: 35px;
            background: url('../images/sprite.png') 0px -905px;
            display: block;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
/*            position: absolute;*/
            padding-right: 20px;
            margin-left: -30px;
            z-index: 100;
        }
        .booking-rates a{
            width: 100px;
            height: 38px;
            text-align: right;
            line-height: 35px;
            display: block;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            padding-right: 20px;
            
        }
        .booking-rates a:hover{
            width: 100px;
/*            margin-left: -30px;*/
/*            padding-right: 20px;*/
        }


        .booking-rates:hover{
            background: url('../images/sprite.png') 0px -814px;
            width: 100px;
            margin-left: -30px;
/*            padding-right: 20px;*/
            z-index: 100;
/*            top: 25px;*/
/*            position: absolute;*/
        }
        .rates-slider{
            display: none;
        }

/*        .booking-rates:hover .rates-slider{
            display: block;
            width: 660px;
            height: 450px;
            top:-194px;
            left:-645px;
            z-index: -1;          
        }
*/
        .rates-slider-left{
            height: 450px;
            line-height: 450px;
            color:#ffffff;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            background: #ff4291;
            float: left;
            width: 30px;
        }
        .rates-slider-right{
            float: left;
            width: 630px;
            filter: alpha(opacity=70); opacity:0.7;
            background: #ffffff;
            height: 450px;
        }

        .booking-instant-book{
            width: 153px;
            height: 38px;
            text-align: center;
            line-height: 35px;
            background: url('../images/sprite.png') 0px -952px;
            display: block;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
        }

        /* end #offer-booking*/

        /* #offer-deal*/
        #offer-deal{
            width: 280px;
            height: 237px;
            margin-top: 15px;
        }
        .offer-owner-info{
            margin: 0 15px;
        }
        .owner-image{
            border:1px solid #DADADB;
            float: left;
            margin-right: 10px;
        }
        .owner-info{
            float: left;
            width: 135px;
        }
        .owner-info .tag{
            font-size: 11px;
            font-weight: bold;
            color: #a0a0a0;
            line-height: 11px;
        }
        .owner-info .name{
            color:#627AAD;
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
        }
        /* end #offer-deal*/

    /* end #offer-sidebar*/

/* end #offer-content*/

/* #offer-bottom*/
#offer-bottom{
    height: 220px;
}
/* end #offer-bottom*/