@charset "utf-8";

/*
 * Title                   : St Barth View
 * File                    : assets/frontend/gui/css/page-style.js
 * File Version            : 1.1
 * Author                  : Marius-Cristian Donea
 * Created / Last Modified : 01 June 2011
 * Last Modified By        : Marius-Cristian Donea
 * Description             : Page Style.
*/

.page-section{
    color: #4c4c4c;
    text-align: justify;
}

.page-section h1{
    padding: 20px 20px 10px;
    font-size: 18px;
    color: #688ab9;
}

.page-section h2{
    padding: 20px 20px 10px;
    font-size: 16px;
    color: #688ab9;
}

.page-section p{
    padding: 0 20px;
    font-size: 14px;
    line-height: 1.5em;
}

.page-section a{
    color: #627aad;
    font-weight: bold;
}

.page-main{
    background: #f0f0f0;
    width: 685px !important;
}

.page-main h1{
}

.page-main p{
}

.page-sidebar{
    background: #F0F0F0;
    margin-left: 20px;
}