@charset "utf-8";

/*
 * Title                   : St Barth View
 * File                    : assets/frontend/gui/css/page-style.js
 * File Version            : 1.2
 * Author                  : Marius-Cristian Donea
 * Created / Last Modified : 30 June 2011
 * Last Modified By        : Andrei Calistru
 * Description             : Page Style.
*/

.page-section{
    color: #4c4c4c;
    text-align: justify;
}

.page-section h1{
    padding: 20px 20px 10px;
    font-size: 26px;
    font-weight: bold;
/*    color: #688ab9;*/
    color: #FC4C98;
}

.page-section h2{
    padding: 5px 20px 5px;
    font-size: 14px;
    color: #333333;
}

.page-section p{
    padding: 0 20px;
    font-size: 13px;
    line-height: 1.3em;
}

.page-section a{
    color: #627aad;
    font-weight: bold;
}

.page-section .page-main{
    border: 1px solid #e3e3e3;
    background: #fff;
    -moz-box-shadow: 3px 3px 10px #d4d4d4;
    -webkit-box-shadow: 3px 3px 10px #d4d4d4;
    box-shadow: 3px 3px 10px #d4d4d4;
    float: left;
    width: 628px!important;
    padding-bottom: 20px;
}

.page-main h1{
}

.page-main p{
}

.page-section .page-sidebar{
/*    background: #F0F0F0;*/
    width: 286px!important;
/*    height: 276px;*/
/*    border: 1px solid #fff;*/
    background: #ffffff;
    float: right!important;
}