@charset "utf-8";

/*
 * Title                   : St Barth View
 * File                    : assets/frontend/gui/css/search-style.js
 * File Version            : 1.3
 * Author                  : Marius-Cristian Donea
 * Created / Last Modified : 19 June 2011
 * Last Modified By        : Marius-Cristian Donea
 * Description             : Search Style.
*/

#main-menu{
    background: url('../images/sprite.png') -170px -120px;
    width: 705px;
    height: 30px;
    padding: 0 0 0 10px;
}

#main-menu li{
    display: block;
    float: left;
}

#main-menu li a{
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    padding: 0 10px;
    vertical-align: middle;
    line-height: 30px;
    display: block;
}

#main-menu li a:hover{
    background-color: #f0f0f0;
    color: #6d8fbc;
}

#main-menu li a.selected{
    background-color: #f0f0f0;
    color: #6d8fbc;
}

#main-submenu{
    background: #f0f0f0;
    width: 705px;
    height: 30px;
    z-index: 10000;
    top: 0px;
}

#main-submenu .left{
    float: left;
    padding: 0 0 0 10px;
}

#main-submenu .right{
    float: right;
    margin: 0 10px 0 0;
}

#main-submenu .left li, #main-submenu .right li{
    display: block;
    float: left;
    font-weight: bold;
    font-size: 13.5px;
    line-height: 30px;
    margin: 0 5px 0 0;
}

#main-submenu li.separator{
    background-color: #949494;
    width: 1px;
    height: 14px;
    vertical-align: middle;
    margin: 8px 5px 0 0px;
}

#main-submenu li a{
    font-size: 12.5px;
    font-weight: normal;
    color: #949494;
    vertical-align: middle;
    line-height: 17px;
    display: block;
    margin-top: 6px;
}

#main-submenu li a .text{
    padding: 0px 0 0px 3px;
    cursor: pointer;
    float: left;
}

#main-submenu li a .end{
    width: 3px;
    padding: 0px 0 3px 1px;
    display: block;
    float: left;
    height: 15px;
}

#main-submenu li a:hover .text{
    background: url('../images/sprite.png') -250px -100px;
    color: #ffffff;
}

#main-submenu li a:hover .end{
    background: url('../images/sprite.png') -357px -100px;
    color: #ffffff;
    width: 3px;
}

#main-submenu li a.selected .text{
    background: url('../images/sprite.png') -250px -100px;
    color: #ffffff;
}

#main-submenu li a.selected .end{
    background: url('../images/sprite.png') -357px -100px;
    color: #ffffff;
    width: 3px;
}

#results-list{
    margin: 10px 0 0 10px;
}

#results-list li.no-results, #results-list li.no-results:hover{
    background: #f0f0f0;
    border: 1px solid #d6d6d6;
    width: 663px;
    height: auto;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #333;
}


#results-list li{
    background: url('../images/sprite.png') -170px -180px;
    width: 697px;
    height: 152px;
}

#results-list li.hovered{
    background: url('../images/sprite.png') 0 -1210px;
    width: 697px;
    height: 152px;
}

#results-list li .image{
    width: 180px;
    height: 126px;
    float: left;
    margin: 6px 0 0 8px;
    border: 1px #e4e4e4 solid;
    background: #ffffff;
}

#results-list li .image-container{
    width: 172px;
    height: 122px;
    margin: 3px 0 0 3px;
    overflow: hidden;
    text-align: center;
    position: absolute;
}

#results-list li .image-container img{
    width: auto;
    height: 122px;
}

#results-list li .image .wow{
    background: url('../images/sprite.png') -870px -270px;
    width: 70px;
    height: 71px;
    position: absolute;
    margin: -1px 0 0 -1px;
}

#results-list li .content{
    width: 472px;
    height: 130px;
    float: left;
    margin: 7px 0 0 10px;
}

#results-list li .content .number, #results-list-images li .content-top .number{
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin: 4px 0 4px 0;
}

#results-list li .content .title, #results-list-images li .content-top .title{
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin: 4px 0 4px 7px;
}

#results-list li .content .title a, #results-list-images li .content-top .title a{
    color: #333333;
}

#results-list li .content .location, #results-list-images li .content-top .location{
    float: left;
    color: #949494;
    margin: 6px 0 4px 10px;
}

#results-list li .content .new, #results-list-images li .content-top .new{
    width: 31px;
    height: 18px;
    margin: 6px 0 2px 7px;
    background: url('../images/sprite.png') 0px -455px;
    float:left;
    display: block;
}

#results-list-images li .content-top .new{
    margin-top:4px;
}

#results-list li .content .rating-stars, #results-list-images li .content-top .rating-stars{
    background: url('../images/sprite.png') -60px -270px;
    float: right;
    width: 60px;
    height: 12px;
    margin: 6px 0 4px 0;
}

#results-list li .content .rating-stars-value, #results-list-images li .content-top .rating-stars-value{
    background: url('../images/sprite.png') 0 -270px;
    width: 0px;
    height: 12px;
    position: absolute;
}

#results-list li .content .rating-value, #results-list-images li .content-top .rating-value{
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #6d8fbc;
    margin: 4px 0 4px 10px;
}

#results-list li .content .separator{
    background-color: #dadadb;
    width: 472px;
    height: 1px;
    display: block;
}

#results-list li .content .comments, #results-list-images li .content-bottom .comments{
    float: left;
    margin: 5px 0 0 0;
}

#results-list li .content .friends, #results-list-images li .content-bottom .friends{
    float: left;
    margin: 5px 0 0 10px;
}

#results-list li .content .deals, #results-list-images li .content-bottom .deals{
    float: left;
    margin: 5px 0 0 10px;
}

#results-list li .content .comments .icon, #results-list-images li .content-bottom .comments .icon{
    background: url('../images/sprite.png') -870px -180px;
    width: 25px;
    height: 21px;
    position: absolute;
    margin: 2px 0 0 0;
}

#results-list li .content .comments .icon.no-comments, #results-list-images li .content-bottom .comments .icon.no-comments{
    background: url('../images/sprite.png') -900px -180px;
}

#results-list li .content .friends .icon, #results-list-images li .content-bottom .friends .icon{
    background: url('../images/sprite.png') -870px -210px;
    width: 25px;
    height: 21px;
    position: absolute;
    margin: 2px 0 0 0;
}
#results-list-images li .content-bottom .comments .icon,#results-list-images li .content-bottom .friends .icon,#results-list-images li .content-bottom .deals .icon{
    margin-top: 0px;
}

#results-list-images li .content-bottom .comments,#results-list-images li .content-bottom .friends,#results-list-images li .content-bottom .deals{
    margin-top: 7px;
}

#results-list li .content .friends .icon.no-likes, #results-list-images li .content-bottom .friends .icon.no-likes{
    background: url('../images/sprite.png') -900px -210px;
}

#results-list li .content .deals .icon, #results-list-images li .content-bottom .deals .icon{
    background: url('../images/sprite.png') -870px -240px;
    width: 25px;
    height: 21px;
    position: absolute;
    margin: 7px 0 0 0;
}

#results-list-images li .content-bottom .deals .icon{
    margin-top: 5px;
}

#results-list li .content .deals .icon.no-deals, #results-list-images li .content-bottom .deals .icon.no-deals{
    background: url('../images/sprite.png') -900px -240px;
}

#results-list li .content .comments .no, #results-list li .content .friends .no, #results-list li .content .deals .no,
#results-list-images li .content-bottom .comments .no, #results-list-images li .content-bottom .friends .no, #results-list-images li .content-bottom .deals .no{
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 1em;
    margin: 0 0 0 30px;
}

#results-list-images li .content-bottom .comments .no, #results-list-images li .content-bottom .friends .no, #results-list-images li .content-bottom .deals .no{
    font-size:14px;
}

#results-list li .content .comments .text, #results-list li .content .friends .text, #results-list li .content .deals .text,
#results-list-images li .content-bottom .comments .text, #results-list-images li .content-bottom .friends .text, #results-list-images li .content-bottom .deals .text{
    color: #3c3d3d;
    font-size: 10px;
    line-height: 1em;
    margin: 0 0 0 30px;
}

#results-list-images li .content-bottom .comments .text, #results-list-images li .content-bottom .friends .text, #results-list-images li .content-bottom .deals .text{
    line-height: 6px;
}

#results-list li .content .owner{
    float: right;
    margin: 5px 0 0 10px;
    text-align: right;
    font-size: 11px;
    color: #737373;
    line-height: 14px;
}

#results-list li .content .owner a{
    font-size: 14px;
    font-weight: bold;
    color: #627aad;
}

#results-list li .content .owner .icon{
    background: url('../images/sprite.png') -130px -300px;
    width: 25px;
    height: 25px;
    float: right;
    margin: 2px 0 0 5px;
}

#results-list li .content .owner img{
    width: 25px;
    height: 25px;
}

#results-list li .content .owner .last-comment{
    float: left;
}

#results-list li .content .owner .first-name{
    font-weight: bold;
    line-height: 1em;
    margin: 0 0px 0 5px;
    float: right;
}

#results-list li .content .owner .last-name{
    color: #3c3d3d;
    font-size: 10px;
    font-weight: bold;
    line-height: 1em;
    margin: 0 5px 0 0;
}

#results-list li .content .owner .no-comment{
    display: block;
    width: 100px;
    height: 25px;
}

#results-list li .content .description{
    color: #333333;
    margin: 15px 0 0 0;
    position: absolute;
    width: 330px;
    line-height: 16px;
}

#results-list li .content .price,#results-list-images li .content-bottom .price{
    color: #333333;
    margin: 15px 0 0 360px;
    width: 123px;
    text-align: center;
    display: block;
    line-height: 16px;
}

#results-list-images li .content-bottom .price{
    margin-left: 0;
    float: right;
    width: auto;
    text-align: right;
    margin-top: 5px;
    line-height: 12px;
}

#results-list li .content .pre-text,#results-list-images li .content-bottom .pre-text{
    font-weight: bold;
    font-size: 11px;
}

#results-list li .content .sum,#results-list-images li .content-bottom .sum{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 5px;
}

#results-list li .content .currency-icon,#results-list-images li .content-bottom .currency-icon{
    font-size: 18px;
    font-weight: bold;
}

#results-list li .content a.request-book-btn{
    background: url('../images/sprite.png') 0 -240px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 0 355px;
    width: 123px;
    height: 23px;
    display: block;
    padding: 2px 0 0 0;
    text-align: center;
}

#results-list li .content a.instant-book-btn{
    background: url('../images/sprite.png') 0 -210px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0 0 360px;
    width: 123px;
    height: 23px;
    display: block;
    padding: 2px 0 0 0;
    text-align: center;
}

#results-list-images{
    margin:10px 0 0 10px;
}

#results-list-images li{
    display: block;
    background: url("../images/sprite.png") repeat scroll -170px -635px transparent;
    height: 304px;
    width: 342px;
    float:left;
}

#results-list-images li.hovered{
    background: url('../images/sprite.png') 0 -1370px;
    height: 304px;
    width: 342px;
}

#results-list-images li.right{
    float: right;
}

#results-list-images li .image{
    border: 1px #e4e4e4 solid;
    background: #ffffff;
    margin: 8px 0 0 9px;
    display: block;
    width: 312px;
    height: 216px;
}

#results-list-images .image-container{
    width: 306px;
    height: 210px;
    margin: 3px 0 0 3px;
    overflow: hidden;
    text-align: center;
    position: absolute;
}

#results-list-images li .image .wow{
    background: url('../images/sprite.png') -870px -270px;
    width: 70px;
    height: 71px;
    position: absolute;
    margin: -1px 0 0 -1px;
}

#results-list-images li .content-top{
    border-bottom: 1px solid #dadadb;
    margin: 0 10px;
    display: block;
    width: 312px;
}

#results-list-images li .content-top .number{
    font-size: 16px;
}

#results-list-images li .content-top .title{
    font-size: 16px;
}

#results-list-images li .content-top .rating-value{
    font-size: 16px;
    margin-left: 5px;
}

#results-list-images li .content-bottom{
    display: block;
    margin: 0 10px;
    width: 312px;
}

#results-map{
    margin: 10px 0 0 10px;
}

#results-map li{
    display: block;
    width: 685px;
    height: 500px;
}

.search-map-image{
    width: 250px;
    height: auto;
}

.search-map-title{
    font-size: 14px;
}

#results-loader{
    width: 685px !important;
    background: url(../images/loaders/big-loader1.gif) no-repeat center center #ffffff !important;
    opacity: 0.5;
    filter: Alpha(Opacity=50);
    margin-bottom: 10px;
}

#results-pagination {
    font-size: 13px;
    color: #737373;
    margin: 0 10px 0px;
}
#results-pagination span{
    float: right;
    color: #6a81b1;
    font-weight: bold;
}
#results-pagination span strong, #results-pagination span a{
    color: #6a81b1;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    margin: 0 0 0 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f1f1f1'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f1f1f1)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #fefefe, #f1f1f1); /* for firefox 3.6+ */
    display: inline-block;
    border:1px solid #d1d1d1;
}
#results-pagination span strong, #results-pagination span a:hover{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e92bb', endColorstr='#7185ae'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#7e92bb), to(#7185ae)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #7e92bb, #7185ae); /* for firefox 3.6+ */
    color: #ffffff;
}

#sidebar-menu{
    background: url('../images/sprite.png') -640px -150px;
    width: 235px;
    height: 30px;
    text-align: center;
}

#sidebar-menu li{
    display: inline-block;
}

#sidebar-menu li a{
    font-size: 14px;
    font-weight: bold;
    color: #6d8fbc;
    padding: 0 10px;
    vertical-align: middle;
    line-height: 30px;
    display: block;
}

#sidebar-menu li a:hover{
    background-color: #f0f0f0;
    color: #333333;
}

#sidebar-menu li a.selected{
    background-color: #f0f0f0;
    color: #333333;
}

#sidebar-content{
    top: 0px;
}

#sidebar-map{
    background: #f0f0f0;
    width: 235px;
    height: 235px;
}

a.filter-header{
    background-color: #f0f0f0;
    display: block;
    width: 223px;
    border-left: 1px #e3e3e3 solid;
    border-right: 1px #e3e3e3 solid;
    border-bottom: 1px #e3e3e3 solid;
    border: 1px #e3e3e3 solid;
    padding: 5px 0 5px 10px;
    font-size: 13px;
    font-weight: bold;
    color: #737373;
}

.filter ul{
    width: 213px;
    background-color: #ffffff;
    padding: 5px 10px;
    border-left: 1px #e3e3e3 solid;
    border-right: 1px #e3e3e3 solid;
    border-bottom: 1px #e3e3e3 solid;
}

.filter ul .filter-checkbox{
    margin: 0 10px 0 0;
}

.filter ul li{
    font-size: 13px;
    color: #737373;
}

.filter .low-price-currency, #low-price{
    background-color: #688ab9;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    float: left;
}

.filter .low-price-currency{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 2px 0 4px;
}

.filter #low-price{
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 4px 0 0;
}

.filter .high-price-currency, #high-price{
    background-color: #688ab9;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    float: right;
    padding: 0 4px 0 4px;
}

.filter .high-price-currency{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 2px 0 4px;
}

.filter #high-price{
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 4px 0 0;
}

.filter #price-range{
    width: 200px;
    margin: 10px 0 0 5px;
}

.filter ul li select{
    background-color: #ffffff;
    width: 200px;
    border: 1px #d8d8d8 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}

.filter ul li select:focus{
    border-color: #688ab9;
}

.filter ul li select:disabled{
    background-color: #f0f0f0;
}

/* BEGIN UI Slider */

.ui-slider{position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background: #dadada/*{bgColorHover}*/ url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; background: #ffffff/*{bgColorActive}*/ url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1/*{borderColorHighlight}*/; background: #fbf9ee/*{bgColorHighlight}*/ url(images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: #363636/*{fcHighlight}*/; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636/*{fcHighlight}*/; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a/*{borderColorError}*/; background: #fef1ec/*{bgColorError}*/ url(images/ui-bg_glass_95_fef1ec_1x400.png)/*{bgImgUrlError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/; color: #cd0a0a/*{fcError}*/; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a/*{fcError}*/; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* END UI Slider */

/* END SECTION */

/* #search-reviews-members */
#search-reviews-members{
    margin: 25px auto 0;
    width: 940px;
}
#search-reviews{
    width: 628px;
    height: 278px;
    float:left;
}

#search-reviews-nav{
    height: 29px;
    border-left: 1px solid #d4d4d4;
}

#search-reviews-nav li{
    border: 1px solid #d4d4d4;
    float:left;
    display: block;
    height: 29px;
    border-bottom: 0;
    border-left: 0;
    line-height: 29px;
    background: url('../images/sprite.png') 0px -715px;    
    z-index: 100;
}

#search-reviews-nav li.selected, #search-reviews-nav li:hover{
    background: #ffffff;
    height: 28px;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

#search-reviews-nav li:hover{
    border-bottom: 1px solid #ffffff !important;
}

#search-reviews-nav li a{
    display: block;
    padding: 0 15px;
    color: #737373;
    font-weight: bold;
    font-size: 15px;
}

#search-reviews-nav li.selected a{
}

#search-reviews-nav li.selected a, #search-reviews-nav li:hover a{
    color: #333333;
}

#search-reviews-content{
    padding: 10px 15px;
    border: 1px solid #D4D4D4;
    background: #ffffff;
    position: relative;
    z-index: 0;
    height: 227px;
}

#search-reviews-sorting{
    font-size: 13px;
    height: 18px;
    display: block;
}

#search-reviews-sorting li{
    display: block;
    float: left;
    color: #333333;
    font-weight: bold;
    margin: 0 8px 0 0;
    font-size: 14px;
}

#search-reviews-sorting li.separator{
    background-color: #949494;
    height: 10px;
    margin: 5px 8px 0 0;
    vertical-align: middle;
    width: 1px;
}

#search-reviews-sorting li a{
    font-weight: normal;
    color: #737373;
    display: block;
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
}
#search-reviews-sorting li a .text{
    padding: 0px 0 0px 3px;
    float: left;
    cursor: pointer;
    height: 17px;
}

#search-reviews-sorting li a .end{
    width: 3px;
    display: block;
    float: left;
    padding: 0px 0 2px 1px;
    height: 15px;
}

#search-reviews-sorting li a:hover .text{
    background: url('../images/sprite.png') -250px -100px;
    color: #ffffff;
}

#search-reviews-sorting li a:hover .end{
    background: url('../images/sprite.png') -357px -100px;
    color: #ffffff;
}

#search-reviews-sorting li a.selected .text{
    background: url('../images/sprite.png') -250px -100px;
    color: #ffffff;
}

#search-reviews-sorting li a.selected .end{
    background: url('../images/sprite.png') -357px -100px;
    color: #ffffff;
    width: 3px;
}

#search-review-slider{
    position: relative;
    clear: both;
    margin-top: 20px;
}

#search-review-slider-content-container.loader{
    height: 170px;
    background: url(../images/loaders/big-loader1.gif) no-repeat center center transparent !important;
}

.search-review-slider-content{
    height: 170px;
    margin: 0 26px;
}

#slider-comments{
    padding: 10px 0 0;
    height: 160px;
}

.slider-nav-left{
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../images/sprite.png') 0px -540px;
    display: block;
    width: 16px;
    height: 170px;
    display: none;
    z-index: 100;
}

.slider-nav-left:hover{
    background: url('../images/sprite.png') -50px -540px;
}

.slider-nav-right{
    position: absolute;
    top: 0px;
    right: 0px;
    background: url('../images/sprite.png') -25px -540px;
    display: block;
    width: 16px;
    height: 170px;
    display: none;
    z-index: 100;
}

.slider-nav-right:hover{
    background: url('../images/sprite.png') -75px -540px;
}

#search-review-slider .last{
    float: right;
}

.search-review-item{
    width: 260px;
    float: left;
}

.search-review-item-name{
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    margin-top: 3px;
}

#slider-offers .search-review-item-name{
    margin-top: 0px;
    font-size: 17px;
}

.search-review-item-name a{
    color:#333333;
}

.search-review-item-name span{
    float:left;
}

.search-review-item-location{
    font-weight: normal;
    font-size: 11px;
    margin-left: 5px;
    line-height: 11px;
    margin-top:4px;
    color: #333333;
}

#slider-offers .search-review-item-location{
    font-size: 12px;
}

.search-review-item-name .rating-stars{
    background: url('../images/sprite.png') -60px -270px;
    display: block;
    width: 60px;
    height: 12px;
    margin: 2px 4px 2px 4px;
}

.search-review-item-name .rating-stars-value{
    background: url('../images/sprite.png') 0 -270px;
    width: 48px;
    height: 12px;
    position: absolute;
}

.search-review-item-name .rating-number{
    font-weight: bold;
    font-size: 13px;
    color: #6d8fbc;
    float: left;
}

.search-review-item-postdate{
    font-size: 11px;
    color: #737373;
    line-height: 11px;
}

#slider-offers .search-review-item-author{
    margin-top: 10px;
    float: left;
}

.search-review-item-author{
    clear: both;
    font-size: 11px;
    color: #737373;
}

.search-review-item-author a{
    color: #6d8fbc;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
}

#slider-comments .search-review-item-author a{
    line-height: 13px;
}

#slider-offers .search-review-item-author a{
    white-space: nowrap;
}

.search-review-item-author-price{
    width: 260px;
    height: 40px;
}

.search-review-item-author a .icon{
    background: url("../images/sprite.png") repeat scroll -130px -300px transparent;
    float: left;
    height: 25px;
    margin: 0px 5px 0 0px;
    width: 25px;
}

.search-review-item-author .date{
    font-size: 11px;
}

.search-review-item-author .owner{
    font-weight: bold;
    line-height: 9px;
    font-size: 11px;
    color: #a0a0a0;
    width: 160px;
    display: block;
}

.search-review-item-price {
    float: right;
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    margin-top: 19px;
    margin-right: 5px;
    white-space: nowrap;
}

.search-review-item-price span{
    font-size: 18px;
}

#slider-offers .search-review-item-description{
    font-style: italic;
    font-size: 12px;
    margin-top: 8px;
    line-height: 15px;
    color: #333333;
    height: 92px;
    display: block;
}

#slider-comments .search-review-item-description{
    font-style: italic;
    font-size: 14px;
    margin-top: 8px;
    line-height: 19px;
    color: #333333;
}

.search-review-item-description .image{
    float: left;
    border: 1px solid #e7e7e7;
    padding: 3px;
    margin-right: 10px;
}

.search-review-item-description .image a{
    display: block;
    cursor: pointer;
}

.search-review-item-description a{
    color: #333333;
}

.search-review-item-description .last-image-container{
    display: block;
    width: 124px;
    height: 84px;
}

.search-review-deal-item{    
}

.search-review-deal-image{
    float: left;
    margin-right: 13px;
}

.search-review-deal-image a{
    display: block;
    width: 245px;
    height: 170px;
}

.search-review-deal-info{
    float: left;
    width: 286px;
}

.search-review-deal-info-title{
    font-size: 19px;
    font-weight: bold;
    color: #333333;
}

.search-review-deal-info-title a{
    color:  #333333;
}

.search-review-deal-info-location{
    font-size: 14px;
    color: #737373;
}

.search-review-deal-info-price{
    width: 286px;
    background: url("../images/sprite.png") -530px -635px transparent;
    height: 44px;
    color: #ffffff;
    margin-top: 20px;
}

.search-review-deal-info-price a{
    color: #ffffff;
    cursor: pointer;
}

.search-review-deal-info-price .box{
    width: 95px;
    text-align: center;
    float: left;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 21px;
}

.search-review-deal-info-price .box span{
    font-size: 20px;
}

.search-review-deal-info-timer{
    height: 40px;
    width: 249px;
    background: url("../images/sprite.png") -530px -685px transparent;
    height: 40px;
    color: #ffffff;
    margin-top: 7px;
    padding-left: 37px;
    line-height: 40px;
    font-weight: bold;
    display: block;
    font-size: 11px;
}

.search-review-deal-info-timer .text{
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

#last-countdown{
    font-size: 20px;
    display: block;
    float: left;
    width: 160px;
    cursor: pointer;
}

#search-members{
    width: 284px;
    height: 276px;
    border: 1px solid #D4D4D4;
    background: #ffffff;
    float: right;
}
#search-members h3{
    color:#333333;
    padding:7px 10px;
    font-size:15px;
}

#search-members-area{
    padding: 0px 10px 0;
    height: 212px;
}

#search-members-area a{
    float: left;
    margin: 0 5px 5px 0;
    width: 48px;
    height: 48px;
}

#search-members-area a.last{
    margin-right: 0px;
}

#search-members-join{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    height: 25px;
    width: 142px;
    background: url('../images/sprite.png') 0 -750px;
    display: block;
    float: left;
    margin-top: 5px;
    padding: 0;
    line-height: 22px;
}

#search-members-login{
    font-size: 12px;
    color: #333333;
    padding-left: 10px;
    float: left;
    display: block;
    margin-top: 5px;
    line-height: 22px;
}

/* end #search-reviews-members */